<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<div class="breadcrumbs">
				<nav>
					<ul class="breadcrumbs__wrap">
						<li class="breadcrumbs__list"><a href="#" class="breadcrumbs__link">Home</a></li>
						<li class="breadcrumbs__list"><a href="#" class="breadcrumbs__link-active">Laptops & Computers</a></li>
						<li class="breadcrumbs__list"><a href="#" class="breadcrumbs__link">Laptops & Computers Categories</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<div class="form__validation-state">
				<p>
					<strong>Error :</strong>
					<span></span>
				</p>
			</div>
			<div class="account__wrapper">
				<div class="account__sign-in">
					<form data-bind="event: {submit: handleSubmit}, with: loginModel"  id="AccountSignIn" novalidate>
						<div class="main-title__wrapper">
							<h3 class="main-title__text title--small">Sign In</h3>
							<hr/>
						</div>
						<p class="account__sign-in-text">Welcome back! Sign in to Your Account</p>
						<div class="form-element__wrapper">
							<label class="form-element__label">
								<input data-bind="value: username" type="text" placeholder="User Name or Email Address*" class="form-element__input" minlength="3" required/>
							</label>
						</div>
						<div class="form-element__wrapper">
							<label class="form-element__label">
								<input type="password" data-bind="value: password" placeholder="Password*" class="form-element__input" size="30" minlength="6" required/>
							</label>
						</div>
						<div class="account__sign-in-remember">
							<div class="form-element__wrapper">
								<label class="form-element__label checkbox-label">
									<input type="checkbox"  class="form-element__hidden-checkbox" data-bind="checked: remember"/>
									<div class="form-element__checkbox">
										<svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 26 26">
											<path d="m.3,14c-0.2-0.2-0.3-0.5-0.3-0.7s0.1-0.5 0.3-0.7l1.4-1.4c0.4-0.4 1-0.4 1.4,0l.1,.1 5.5,5.9c0.2,0.2 0.5,0.2 0.7,0l13.4-13.9h0.1v-8.88178e-16c0.4-0.4 1-0.4 1.4,0l1.4,1.4c0.4,0.4 0.4,1 0,1.4l0,0-16,16.6c-0.2,0.2-0.4,0.3-0.7,0.3-0.3,0-0.5-0.1-0.7-0.3l-7.8-8.4-.2-.3z"/>
										</svg>

									</div><span class="form-element__name">Remember Me</span>
								</label>
							</div><a href="#">Forgotten Password?</a>
						</div>
						<div class="account__sign-in-button">
							<button class="form-button" type="submit">Login</button>
						</div>
					</form>
				</div>
				<div class="account__create-new">
					<form  data-bind="event: {submit: accountSubmit}, with: accountModel" novalidate>
						<div class="main-title__wrapper">
							<h3 class="main-title__text title--small">Create New Account</h3>
							<hr/>
						</div>
						<p class="account__sign-in-text">Create Your very own Electro Account</p>
						<div class="form-element__wrapper">
							<label class="form-element__label">
								<input type="text" placeholder="User Name or Email Address*" class="form-element__input" data-bind="value: username" required minlength="5"/>
							</label>
						</div>
						<button class="form-button">Register</button>
						<h5 class="account__title">Sign up today and you will be able to:</h5>
						<ul class="account__list">
							<li>Speed your way through the checkout</li>
							<li>Track your orders easily</li>
							<li>Keep a record of all your purchases</li>
						</ul>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="items-row">
		<div class="row">
			<div class="col-lg-12">
				<!-- Variables-->
				<!-- Mixin render all images-->
				<!-- Wrap Section-->
				<div class="brand-carousel">
					<div class="container">
						<div class="row">
							<div class="brand-carousel__wrapper">
								<div class="brand-carousel__item"><img src="/images/3docean.png" alt="Brand Image"></div>
								<div class="brand-carousel__item"><img src="/images/audiojungle.png" alt="Brand Image"></div>
								<div class="brand-carousel__item"><img src="/images/themeforest.png" alt="Brand Image"></div>
								<div class="brand-carousel__item"><img src="/images/3docean.png" alt="Brand Image"></div>
								<div class="brand-carousel__item"><img src="/images/audiojungle.png" alt="Brand Image"></div>
								<div class="brand-carousel__item"><img src="/images/themeforest.png" alt="Brand Image"></div>
								<div class="brand-carousel__item"><img src="/images/3docean.png" alt="Brand Image"></div>
								<div class="brand-carousel__item"><img src="/images/audiojungle.png" alt="Brand Image"></div>
								<div class="brand-carousel__item"><img src="/images/themeforest.png" alt="Brand Image"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="items-row">
		<div class="row">
			<div class="col-lg-4 col-md-4">
				<div class="main-title__wrapper">
					<h3 class="main-title__text title--small">Featured Products</h3>
					<hr/>
				</div>
				<div class="simple-element defaultSmall">
					<div class="simple-element__wrap defaultSmall">
						<div class="simple-element__img">
							<div class="simple-element__background"><img src="/images/75x75.png"/></div>
						</div>
						<div class="simple-element__text defaultSmall">
							<div class="simple-element__header">
								<h5 class="blue-text">Ribka Lorem</h5>
							</div>
							<div class="simple-element__footer">
								<div class="simple-element__price">
									<div class="simple-element__priceNumber"><span>$348.00</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="simple-element defaultSmall">
					<div class="simple-element__wrap defaultSmall">
						<div class="simple-element__img">
							<div class="simple-element__background"><img src="/images/75x75.png"/></div>
						</div>
						<div class="simple-element__text defaultSmall">
							<div class="simple-element__header">
								<h5 class="blue-text">Ribka Lorem</h5>
							</div>
							<div class="simple-element__footer">
								<div class="simple-element__price">
									<div class="simple-element__priceNumber"><span>$346.00</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="simple-element defaultSmall">
					<div class="simple-element__wrap defaultSmall">
						<div class="simple-element__img">
							<div class="simple-element__background"><img src="/images/75x75.png"/></div>
						</div>
						<div class="simple-element__text defaultSmall">
							<div class="simple-element__header">
								<h5 class="blue-text">Ribka Lorem</h5>
							</div>
							<div class="simple-element__footer">
								<div class="simple-element__price">
									<div class="simple-element__priceNumber"><span>$9367.00</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="simple-element defaultSmall">
					<div class="simple-element__wrap defaultSmall">
						<div class="simple-element__img">
							<div class="simple-element__background"><img src="/images/75x75.png"/></div>
						</div>
						<div class="simple-element__text defaultSmall">
							<div class="simple-element__header">
								<h5 class="blue-text">Ribka Lorem</h5>
							</div>
							<div class="simple-element__footer">
								<div class="simple-element__price">
									<div class="simple-element__priceNumber"><span>$8619.00</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-4">
				<div class="main-title__wrapper">
					<h3 class="main-title__text title--small">Onsale Products</h3>
					<hr/>
				</div>
				<div class="simple-element defaultSmall">
					<div class="simple-element__wrap defaultSmall">
						<div class="simple-element__img">
							<div class="simple-element__background"><img src="/images/75x75.png"/></div>
						</div>
						<div class="simple-element__text defaultSmall">
							<div class="simple-element__header">
								<h5 class="blue-text">Ribka Lorem</h5>
							</div>
							<div class="simple-element__footer">
								<div class="simple-element__price">
									<div class="simple-element__priceNumber"><span>$353.00</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="simple-element defaultSmall">
					<div class="simple-element__wrap defaultSmall">
						<div class="simple-element__img">
							<div class="simple-element__background"><img src="/images/75x75.png"/></div>
						</div>
						<div class="simple-element__text defaultSmall">
							<div class="simple-element__header">
								<h5 class="blue-text">Ribka Lorem</h5>
							</div>
							<div class="simple-element__footer">
								<div class="simple-element__price">
									<div class="simple-element__priceNumber"><span>$1007.00</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="simple-element defaultSmall">
					<div class="simple-element__wrap defaultSmall">
						<div class="simple-element__img">
							<div class="simple-element__background"><img src="/images/75x75.png"/></div>
						</div>
						<div class="simple-element__text defaultSmall">
							<div class="simple-element__header">
								<h5 class="blue-text">Ribka Lorem</h5>
							</div>
							<div class="simple-element__footer">
								<div class="simple-element__price">
									<div class="simple-element__priceNumber"><span>$1774.00</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="simple-element defaultSmall">
					<div class="simple-element__wrap defaultSmall">
						<div class="simple-element__img">
							<div class="simple-element__background"><img src="/images/75x75.png"/></div>
						</div>
						<div class="simple-element__text defaultSmall">
							<div class="simple-element__header">
								<h5 class="blue-text">Ribka Lorem</h5>
							</div>
							<div class="simple-element__footer">
								<div class="simple-element__price">
									<div class="simple-element__priceNumber"><span>$1341.00</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-4">
				<div class="main-title__wrapper">
					<h3 class="main-title__text title--small">Top Rated Products</h3>
					<hr/>
				</div>
				<div class="simple-element defaultSmall">
					<div class="simple-element__wrap defaultSmall">
						<div class="simple-element__img">
							<div class="simple-element__background"><img src="/images/75x75.png"/></div>
						</div>
						<div class="simple-element__text defaultSmall">
							<div class="simple-element__header">
								<h5 class="blue-text">Ribka Lorem</h5>
								<div class="simple-element__rating"><img src="/images/svg/star.svg"/><img src="/images/svg/star.svg"/><img src="/images/svg/star.svg"/><img src="/images/svg/star.svg"/><img src="/images/svg/star.svg"/>
								</div>
							</div>
							<div class="simple-element__footer">
								<div class="simple-element__price">
									<div class="simple-element__priceNumber"><span>$83.00</span>
										<div class="simple-element__oldPrice">222$</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="simple-element defaultSmall">
					<div class="simple-element__wrap defaultSmall">
						<div class="simple-element__img">
							<div class="simple-element__background"><img src="/images/75x75.png"/></div>
						</div>
						<div class="simple-element__text defaultSmall">
							<div class="simple-element__header">
								<h5 class="blue-text">Ribka Lorem</h5>
								<div class="simple-element__rating"><img src="/images/svg/star.svg"/><img src="/images/svg/star.svg"/>
								</div>
							</div>
							<div class="simple-element__footer">
								<div class="simple-element__price">
									<div class="simple-element__priceNumber"><span>$5673.00</span>
										<div class="simple-element__oldPrice">222$</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="simple-element defaultSmall">
					<div class="simple-element__wrap defaultSmall">
						<div class="simple-element__img">
							<div class="simple-element__background"><img src="/images/75x75.png"/></div>
						</div>
						<div class="simple-element__text defaultSmall">
							<div class="simple-element__header">
								<h5 class="blue-text">Ribka Lorem</h5>
								<div class="simple-element__rating"><img src="/images/svg/star.svg"/><img src="/images/svg/star.svg"/><img src="/images/svg/star.svg"/><img src="/images/svg/star.svg"/>
								</div>
							</div>
							<div class="simple-element__footer">
								<div class="simple-element__price">
									<div class="simple-element__priceNumber"><span>$8617.00</span>
										<div class="simple-element__oldPrice">222$</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="simple-element defaultSmall">
					<div class="simple-element__wrap defaultSmall">
						<div class="simple-element__img">
							<div class="simple-element__background"><img src="/images/75x75.png"/></div>
						</div>
						<div class="simple-element__text defaultSmall">
							<div class="simple-element__header">
								<h5 class="blue-text">Ribka Lorem</h5>
								<div class="simple-element__rating"><img src="/images/svg/star.svg"/><img src="/images/svg/star.svg"/><img src="/images/svg/star.svg"/><img src="/images/svg/star.svg"/><img src="/images/svg/star.svg"/>
								</div>
							</div>
							<div class="simple-element__footer">
								<div class="simple-element__price">
									<div class="simple-element__priceNumber"><span>$3674.00</span>
										<div class="simple-element__oldPrice">222$</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="sign-up">
	<div class="container">
		<div class="row">
			<div class="col-lg-7">
				<div class="sign-up__title"><svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 34 34">
						<style>
							.cls-1 {
								fill: #333e48;
								fill-rule: evenodd;
							}
						</style>
					</defs>
					<path id="newsletter_icon" data-name="newsletter icon" class="cls-1" d="M400.265,4857H400.21a11.021,11.021,0,0,1-2.411-2.13c-2.308-2.3-4.628-4.54-6.96-6.78-1.57,1.76-3.025,3.56-4.659,5.36-0.243.26-1.168,1.68-1.918,1.47-0.637-.17-0.348-1.39-0.274-2.18,0.25-2.66.487-5.27,0.768-7.71-2.486-.88-4.859-1.57-7.563-2.46-0.685-.23-2.172-0.51-2.193-1.2s1.247-1.12,1.809-1.42c10.017-5.42,19.772-10.58,29.649-16.02,0.343-.19,1.738-1.17,2.3-0.87,0.511,0.26.065,1.59-.055,2.07-2.546,10.17-5,19.95-7.508,30.01C401.022,4855.84,400.851,4857,400.265,4857Zm-22.908-15.8c1.965,0.65,3.95,1.26,5.974,1.92a7.912,7.912,0,0,0,1.973.65,4.922,4.922,0,0,0,1.1-.87c4.941-3.98,9.456-7.65,14.358-11.54,0.575-.45,1.684-1.73,2.357-1.64,1.064,0.15.278,1.3-.055,1.75-3.822,5.26-7.7,10.52-11.344,15.58,2.514,2.42,5.171,5.05,7.617,7.49a0.769,0.769,0,0,0,.494.33c2.5-9.91,5.115-20.01,7.453-29.9C397.346,4830.42,387.3,4835.76,377.357,4841.2Zm10.3,2.41a6.21,6.21,0,0,0-1.589,1.42,8.808,8.808,0,0,0-.165,1.8c-0.167,1.9-.334,3.52-0.548,5.36,5.33-5.25,9.543-11.91,13.921-17.93C395.521,4837.27,391.523,4840.55,387.66,4843.61Z" transform="translate(-375 -4823)"/>
				</svg>
					<span>Sign up to Newsletter</span>
					<div class="sign-up__innertext"> ...and receive<strong>$20 coupon for first shopping</strong></div>
				</div>
			</div>
			<div class="col-lg-5">
				<div class="sign-up__searchWrap">
					<input placeholder="Enter your email address" class="sign-up__search">
					<button class="sign-up__searchButton">Sign Up</button>
				</div>
			</div>
		</div>
	</div>
</div>