
.shop {

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    @media #{$md-max} {
      flex-wrap: wrap;
    }
    &__title {
      color: #333e48;
      font-size: em(25);
      @media #{$sxs-max} {
        margin-bottom: 10px;
      }
    }
    &__result {
      font-size: em(13);
      color: rgb(113, 113, 113);
      & span {
        display: inline-block;
        padding: 0 4px;
      }
    }
  }

  &-bar {
    display: flex;
    height: 60px;
    align-items: center;
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 0 20px;
    justify-content: space-between;
    margin-bottom: 20px;
    @media #{$md-max} {
      flex-direction: column;
      height: auto;
    }
    &__view {
      @media #{$md-max} {
        margin-bottom: 10px;
        margin-top: 10px;
      }
      button {
        border: none;
        outline: none;
        background-color: transparent;
        padding: 0;
        margin-right: em(15);
        i {
          font-size: em(18);
          color: #d6dbe1;
          transition: all linear .2s;
        }
      }
      button.active-button {
        i {
          color: $black;
        }

      }
    }

    &__filter {
      @media #{$md-max} {
        margin-bottom: 10px;
      }
      // select
      .bootstrap-select {
        margin-right: em(14);
        @media #{$xs-max} {
          width: 100%;
          margin: 0 auto;
        }
      }
      .bootstrap-select  button.btn.dropdown-toggle {
        background-color: rgb(255, 255, 255);
        border: 1px solid rgb(227, 227, 227);
        font-size: em(14);
        color: rgb(126, 126, 126);
        border-radius: 15px;

        &:focus {
          outline: none;
        }
        &:active {
          box-shadow: none;
        }
        & .bs-caret .caret {
          border: none;
          &::after {
            content: "\f078";
            font-family: FontAwesome;
            color: #aeaeae;
            font-size: 10px;
            top: calc(50% - 12px);
            position: relative;
          }
        }
      }
    }
    &__pagination {
      font-size: em(14);
      color: rgb(126, 126, 126);
      @media #{$md-max} {
        margin-bottom: 10px;
      }
      &::before {
        content: "\f104";
        font-family: FontAwesome;
        display: inline-block;
        color: rgb(176, 176, 176);
        font-size: 17px;
        margin-right: 12px;
        transition: .2s all linear;
        cursor: pointer;
        &:hover {
          color: $black;
        }
      }
      &::after {
        content: "\f105";
        font-family: FontAwesome;
        display: inline-block;
        color: rgb(176, 176, 176);
        font-size: 17px;
        margin-left: 12px;
        transition: .2s all linear;
        cursor: pointer;
        &:hover {
          color: $black;
        }
      }
      &-from {
        font-size: em(14);
        display: inline-block;
        padding: 10px 20px;
        background-color: #fff;
        border: 1px solid rgb(227, 227, 227);
        margin-right: em(4);
        border-radius: em(25);
      }
      &-to {
        font-size: em(14);
        display: inline-block;
        margin-left: em(4);
      }
    }
  }
}

// Shop Item
.shop-item {
  padding: 20px 24px 18px;
  cursor: pointer;
  transition: .25s all linear;
  position: relative;
  z-index: 1;
  &__details.hidden--ul {
    display: none;
  }
  &__header-hidden {
    display: none;
  }
  &:hover {
    box-shadow: 0 0 6px 0 rgba(1,1,1,.3);
    & .shop-item__hidden {
      visibility: visible;
      opacity: 1;
    }
    & .shop-item__footer {
      border-color: #eaeaea;
    }
  }
  &__header {

  }
  &__footer {
    padding-bottom: 15px;
    border-bottom: 1px solid transparent;
  }
  &__tag {
    font-size: em(12);
    color: rgb(135, 135, 135);
    margin-bottom: 12px;
    display: block;
    &:hover,&:active,&:link {
      text-decoration: none;
      color: rgb(135, 135, 135);
    }
  }
  &__descr {
    margin-bottom: 35px;
  }
  &__title {
    h3 {
      font-size: em(15);
      color: rgb(0, 98, 189);
      font-family: $bold;
      display: block;
      margin-bottom: 5px;
      &:hover,&:active,&:link {
        text-decoration: none;
        color: rgb(0, 98, 189);
      }
    }
  }
  &__rating {
    padding-bottom: 20px;
  }
  &__image {
    padding-bottom: 10px;
    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }
  &__details {
    font-size: em(12);
    color: rgb(125, 125, 125);
    li {
      line-height: em(21);
      display: block;
      position: relative;
      padding-left: em(13);
      &::before {
        content: '';
        display: inline-block;
        width: 4px;
        height: 4px;
        background-color: rgb(125, 125, 125);
        border-radius: 50%;
        margin-right: 8px;
        line-height: em(21);
        position: absolute;
        left: 0;
        top: calc(50% - 2px);
      }
    }
  }
  &__hidden {
    display: flex;
    justify-content: space-between;
    padding: 15px 0 0 0;
    visibility: hidden;
    opacity: 1;
  }
  &__add {
    display: flex;
    align-items: center;
    justify-content: space-between;
    span {
      font-size: em(13);
      color: rgb(132, 132, 132);
      display: inline-block;
    }
    svg {
      fill:  rgb(132, 132, 132);
      width: 14px;
      height: 12px;
      display: inline-block;
      margin-right: 5px;
    }
  }
  &__code {
    font-size: em(12);
    color: rgb(125, 125, 125);
    margin-bottom:  22px;
  }
  &__cost {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-current {
      font-size: em(20);
      color: $main-theme-color;
      @media #{$md-max} {
        font-size: 1em;
      }
    }
    &-old {
      font-size: em(12);
      color: rgb(132, 132, 132);
      text-decoration: line-through;
      margin-left: 8px;
      display: inline-block;
    }
  }
  &__basket {
    &::after {
      display: block;
      content: "\61";
      font-family: font-electro;
      color: #fff;
      cursor: pointer;
      padding: 12px;
      background-color: #e6e6e6;
      border-radius: 50%;
      font-size: 1.125rem;
      transition: .25s all linear;
      &:hover {
        background-color: $main-theme-color;
      }
    }
  }
  &__price {
    display: flex;
    justify-content: space-between;
  }

}

.shop-footer {
  display: flex;
  justify-content: space-between;
  @media #{$sxs-max} {
    flex-direction: column;
    margin-bottom: 30px;
  }
  &__show {
    display: flex;
    align-items: center;
    @media #{$sxs-max} {
      align-items: center;
      justify-content: space-between;
    }
  }
  &__pagination {
    @media #{$sxs-max} {
      text-align: center;
    }
    & button {
      font-size: .875rem;
      display: inline-block;
      padding: 10px 16px;
      background-color: #fff;
      border: 1px solid #e3e3e3;
      margin-right: .25rem;
      border-radius: 1.5625rem;
    }
    span {
      display: inline-block;
      margin-right: .25rem;
    }
    & button.active-button {
      background-color: $main-theme-color;
      border-color: $main-theme-color;
    }
  }
}

.shop-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid rgb(234, 234, 234);
  margin-bottom: 25px;

  .shop-item {
    width: 33.3%;
    &__readmore-wrap {
      display: none;
      margin-bottom: 16px;
    }
    &__header {
      display: block;
    }
    & .single-product__avialabity {
      display: none;
    }
    &.shop-item-column {
      display: flex;
      width: 100%;
      justify-content: space-between;
      @media #{$md-max} {
        flex-direction: column;
      }
      & .shop-item__rating {
        padding-bottom: 27px;
      }
      & .shop-item__price {
        margin-bottom: 14px;
      }
      & .shopping-cart__update {
        color: #fff;
      }
      & .shop-item__readmore-wrap {
        display: block;
        button {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: em(14);
          svg {
            fill: #fff;
            margin-right: 8px;
            width: 18px;
            height: 19px;
          }
        }
      }
      & .shop-item__footer {
        border: none;
      }
      .single-product__avialabity {
        display: block;
      }
      .shop-item__header{
        display: none;
      }
      & .shop-item__basket {
        display: none;
      }
      .shop-item__header-hidden {
        display: block;
      }
      & .shop-item__hidden{
        visibility: visible;
        opacity: 1;
        flex-direction: column;
        align-items: center;
        & .shop-item__add {
          margin-bottom: 8px;
          justify-content: space-around;
        }

      }
      // Small Edition
      &.small--column {
        & .shop-item__details {
          display: none;
        }
        & .shop-item__details.hidden--ul {
          display: block;
          margin-bottom: 14px;
        }
        & .single-product__avialabity {
          display: none;
        }
        & .shop-item__readmore-wrap {
          display: none;
        }
        & .shop-item__basket {
          display: block;
          margin-left: 25px;
        }
        & .shop-item__price {
          border-bottom: 1px solid #dedede;
          padding-bottom: 14px;
          margin-bottom: 0;
        }
        & .shop-item__image {
          width: 120px;
          height: 110px;
          margin-bottom: 20px;
        }
        & .shop-item__descr {
          margin-bottom: 0;
        }

      }
    }
    @media #{$md-max} {
      width: 50%;
    }
    @media #{$sm-max} {
      width: 100%;
    }
  }
}



// Shopping Cart
.shopping-cart {
  header {
    padding: 93px 0 50px 0;
  }
  &__update {
    padding: 0 40px;
    height: 47px;
    background-color: rgb(239, 236, 236);
    border: none;
    outline: none;
    color: $black;
    font-weight: 700;
    border-radius: 21px;
    margin-right: 9px;
    transition: .2s all linear;
    &:hover {
      background-color: $main-theme-color;
    }
    @media #{$sxs-max} {
      margin: 0;
      margin-bottom: 10px;

    }
  }
  &__checkout {
    height: 47px;
    padding: 0 29px;
    font-family: $bold;
    color: $black;
    background-color: $main-theme-color;
    border-radius: 21px;
    border: none;
    outline: none;
  }
  &__buttons-row {
    @media #{$md-max} {
      margin: 10px 0;
    }
    @media #{$sxs-max} {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  &__order-info {
    margin: 56px 0;
    p {
      font-size: em(16);
      color: #2c2c2c;
      font-family: $light;
      line-height: 28px;
      text-align: right;
      .shopping-cart__order-total {
        font-family: $bold;
        display: inline-block;
        padding: 0 4px;
      }
    }
  }
  &__buttons-wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 150px;
    @media #{$md-max} {
      flex-direction: column;
      align-items: center;
    }
  }
  &__buttons-coupon {
    display: flex;
    input {
      width: 300px;
      padding: em(12) em(30);
      border: 1px solid rgb(221, 221, 221);
      border-radius: 21px 0px 0px 21px;
      font-size: em(15);
      @media #{$sxs-max} {
        width: 160px;
      }
      &:focus {
        outline: none;
      }
    }
    button {
      width: 140px;
      border: none;
      background-color: #333e48;
      border-radius: 0px 21px 21px 0px;
      color: #fff;
      cursor: pointer;
      outline: none;
      @media #{$sxs-max} {
        width: 120px;
        font-size: em(14);
      }
    }
  }
  &__title {
    font-size: em(40);
    text-align: center;
    @media #{$md-max} {
      font-size: em(30);
    }
    @media #{$sxs-max} {
      font-size: em(24);
    }
  }
  &__table {
    display: table;
    width: 100%;
    border-collapse: collapse;
    &-head {
      display: table-header-group;
      @media #{$md-max} {
        display: none;
      }
      & > div {

      }
    }
    &-body {
      border-top: 1px solid #dddddd;
      border-bottom: 1px solid #dddddd;
      @media #{$md-max} {
        border: none;

      }
    }
    &-row {
      display: table-row;
      @media #{$md-max} {
        display: block;
        border-bottom: 1px solid #dddddd;
        padding-bottom: 24px;
      }
      & > div {
        display: table-cell;
        vertical-align: middle;
        padding: 12px;
        position: relative;
        &::before {

          @media #{$md-max} {
            content: attr(data-title);
            display: block;
            font-family: $bold;
            padding-bottom: 8px;
          }
        }
        @media #{$md-max} {
          display: flex;
          flex-direction: column;
          width: 100%;
        }
      }

    }
    &-row:first-child {
      & > div {
        padding-top: 36px;
        @media #{$md-max} {
          padding-top: 12px;
        }
      }
    }
    &-row:last-child {
      & > div {
        padding-bottom: 36px;
        @media #{$md-max} {
          padding-bottom: 12px;
        }
      }
    }
    &-body {
      display: table-row-group;
    }
    &-close {
      padding: 40.5px 12px;
      svg {
        width: 11px;
        height: 11px;
        fill: #cacaca;
        cursor: pointer;
        transition: .25s all linear;
        @media #{$md-max} {
          margin-left: 100%;
        }
        &:hover {
          fill: $black;
        }
      }
    }
    &-thumbnail {

      width: 92px;
      height: 92px;
      padding: 0;
      @media #{$md-max} {
        width: 150px;
        height: 150px;
      }
      a img {
        width: 92px;
        height: 92px;
        display: block;
        @media #{$md-max} {
          display: block;
          width: 150px;
          height: 150px;
          margin: 0 auto;
        }
      }
    }
    &-quantity {
      .single-product__quantity-add {
        width: 115px;
        .single-product__quantity-counter input {
          width: 40px;
        }
      }
    }
    &-product {

      a {
        color: inherit;
        h5 {
          font-size: em(17);
          color: #3e3e3e;
          padding-bottom: 15px;
        }
        p {
          font-size: em(10);
          text-transform: uppercase;
          color: #3e3e3e;
          @media #{$md-max} {
            display: none;
          }
        }
        &:hover,&:link,&:active {
          color: $black;
          text-decoration: none;
        }
      }
    }
    &-price {
      font-size: em(16);
      color: #343f49;
    }
    &-total {
      font-size: em(16);
      color: #343f49;
    }
    &-close {
      text-align: right;
    }
  }
  &__head {

    &-product, &-price, &-quantity, &-total {
      font-size: em(14);
      color: #747474;
      padding: 12px!important;
    }

  }

}

#BestsellersMain {
  & .carousel-item {
    li {
      list-style-type: none;
      padding-left: 14px;
      padding-right: 14px;
      margin-bottom: 10px;
    }
  }
}