include ../components/mixins/_simple-miniatures
include ../components/category-filter/category-filter
include ../components/form/form
doctype html
html(lang='ru', class="no-js")

    head
        meta(charset='utf-8')

        title Electro.
        meta(name='description', content='')

        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        meta(property='og:image', content='path/to/image.jpg')

        link(rel='shortcut icon', href='img/favicon/favicon.ico', type='image/x-icon')
        link(rel='apple-touch-icon', href='img/favicon/apple-touch-icon.png')
        link(rel='apple-touch-icon', sizes='72x72', href='img/favicon/apple-touch-icon-72x72.png')
        link(rel='apple-touch-icon', sizes='114x114', href='img/favicon/apple-touch-icon-114x114.png')



        // Header CSS (First Sections of Website: paste after release from _header.min.css here)
        style


        link(rel='stylesheet', href='css/main.min.css')

    body
        include ../components/header/header
        .container
            include ../components/breadcrumbs/breadcrumbs
            .row
                .col-xs-12
                    .form__validation-state
                        p
                            strong Error:
                            span Username is required.
                    .account__wrapper
                        .account__sign-in
                            form(action="#", method="POST")
                                +category-title("Sign In","small")
                                p.account__sign-in-text Welcome back! Sign in to Your Account
                                +form-element('input', 'Username or Email Address', false, false, "User Name or Email Address*")
                                +form-element('input', 'Password', "password", false, "Password*")
                                .account__sign-in-remember
                                    +form-element('checkbox', 'Remember Me')
                                    a(href="#") Forgotten Password?
                                .account__sign-in-button
                                    +form-button('Login')
                        .account__create-new
                            +category-title("Create New Account","small")
                            p.account__sign-in-text Create Your very own Electro Account
                            +form-element('input', 'Email Address', 'email', false, "User Name or Email Address*")
                            +form-button('Register')
                            h5.account__title Sign up today and you will be able to:
                            ul.account__list
                                li Speed your way through the checkout
                                li Track your orders easily
                                li Keep a record of all your purchases


            .items-row
                .row
                    .col-lg-12
                        include ../components/brand-carousel/brand-carousel
            .items-row
                .row
                    .col-lg-4.col-md-4
                        +category-title("Featured Products","small")
                        +element_list("defaultSmall", '75x75', true, false, "blue")
                        +element_list("defaultSmall", '75x75', true, false, "blue")
                        +element_list("defaultSmall", '75x75', true, false, "blue")
                        +element_list("defaultSmall", '75x75', true, false, "blue")
                    .col-lg-4.col-md-4
                        +category-title("Onsale Products","small")
                        +element_list("defaultSmall", '75x75', true, false, "blue")
                        +element_list("defaultSmall", '75x75', true, false, "blue")
                        +element_list("defaultSmall", '75x75', true, false, "blue")
                        +element_list("defaultSmall", '75x75', true, false, "blue")
                    .col-lg-4.col-md-4
                        +category-title("Top Rated Products","small")
                        +element_list("defaultSmall", '75x75', true, false, "blue", false, 5, "right")
                        +element_list("defaultSmall", '75x75', true, false, "blue", false, 2, "right")
                        +element_list("defaultSmall", '75x75', true, false, "blue", false, 4, "right")
                        +element_list("defaultSmall", '75x75', true, false, "blue", false, 5, "right")
        include ../components/footer/footer

        // Support old browsers
        <!--[if lt IE 9]>
        <script src="libs/html5shiv/es5-shim.min.js"></script>
        <script src="libs/html5shiv/html5shiv.min.js"></script>
        <script src="libs/html5shiv/html5shiv-printshiv.min.js"></script>
        <script src="libs/respond/respond.min.js"></script>
        <![endif]-->

        // Load Scripts
        include ../components/scripts/scripts