<header>
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="header__top-left">
                    <div class="header__contacts">
                        <div class="header__contacts-item"><a href="#" class="header__contacts-link">
                            <div class="header__contacts-icon"><svg xmlns="http://www.w3.org/2000/svg" width="11" height="13" viewBox="0 0 11 13">
                                <metadata><?xpacket begin="﻿" id="W5M0MpCehiHzreSzNTczkc9d"?>
                                    <x:xmpmeta xmlns:x="adobe:ns:meta/" x:xmptk="Adobe XMP Core 5.6-c138 79.159824, 2016/09/14-01:09:01        ">
                                        <rdf:RDF xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
                                            <rdf:Description rdf:about=""/>
                                        </rdf:RDF>
                                    </x:xmpmeta>





















                                    <?xpacket end="w"?></metadata>
                                <path  d="M11,10.738v0.019a1.091,1.091,0,0,1-.446.806,5,5,0,0,1-1.462,1.16,3.958,3.958,0,0,1-2.852.02A9.324,9.324,0,0,1,2.409,9.539,14.024,14.024,0,0,1,.983,7.4,8.01,8.01,0,0,1,.056,4.7,4.3,4.3,0,0,1,1.375.709,1.864,1.864,0,0,1,2.427,0c0.55-.05,1.068.917,1.265,1.259a3.3,3.3,0,0,1,.677,1.868C4.3,4.174,3.158,4.33,2.89,5.154a1.7,1.7,0,0,0,.071.9A5.058,5.058,0,0,0,3.6,7.218,8.991,8.991,0,0,0,5.261,9.146a1.492,1.492,0,0,0,1.23.492,1.82,1.82,0,0,0,.8-0.669,2.215,2.215,0,0,1,.82-0.61,1.905,1.905,0,0,1,1.747.787A3.061,3.061,0,0,1,11,10.738Z"/>
                            </svg>

                            </div>
                            <div class="header__contacts-text"><span>+060 (800) 801-858</span></div></a></div>
                        <div class="header__contacts-item"><a href="#" class="header__contacts-link">
                            <div class="header__contacts-icon"><svg xmlns="http://www.w3.org/2000/svg" width="19" height="13" viewBox="0 0 19 13">
                                <metadata><?xpacket begin="﻿" id="W5M0MpCehiHzreSzNTczkc9d"?>
                                    <x:xmpmeta xmlns:x="adobe:ns:meta/" x:xmptk="Adobe XMP Core 5.6-c138 79.159824, 2016/09/14-01:09:01        ">
                                        <rdf:RDF xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
                                            <rdf:Description rdf:about=""/>
                                        </rdf:RDF>
                                    </x:xmpmeta>





















                                    <?xpacket end="w"?></metadata>

                                <path d="M1.771,0H16.233a1.863,1.863,0,0,1,1.632,1.1,10,10,0,0,1,.1,2.667V9.332A8.855,8.855,0,0,1,17.832,12a1.836,1.836,0,0,1-1.152.928,8.966,8.966,0,0,1-1.855.058H3.211c-1.685,0-2.743.03-3.1-1.188A11.4,11.4,0,0,1,.044,9.158V3.767A9.409,9.409,0,0,1,.14,1.13,1.74,1.74,0,0,1,1.771,0Zm0.064,1.71v9.651H16.169V1.622H1.867C1.83,1.628,1.833,1.668,1.835,1.709Zm0.9,0.406C4.808,3.306,6.9,4.484,8.97,5.68c2.135-1.129,4.237-2.441,6.3-3.536-0.136.432,0.179,1.077,0,1.536a2.882,2.882,0,0,1-.736.493c-1.79,1.041-3.836,2.112-5.5,3.13Q5.85,5.535,2.731,3.709V2.115Z"/>
                            </svg>

                            </div>
                            <div class="header__contacts-text"><span>info@electro.com</span></div></a></div>
                    </div>
                </div>
                <div class="header__top-right">
                    <ul class="header__info">
                        <li class="header__info-list"><a href="#">
                            <div class="header__info-item"><svg xmlns="http://www.w3.org/2000/svg" width="10" height="13" viewBox="0 0 10 13">
                                <metadata><?xpacket begin="﻿" id="W5M0MpCehiHzreSzNTczkc9d"?>
                                    <x:xmpmeta xmlns:x="adobe:ns:meta/" x:xmptk="Adobe XMP Core 5.6-c138 79.159824, 2016/09/14-01:09:01        ">
                                        <rdf:RDF xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
                                            <rdf:Description rdf:about=""/>
                                        </rdf:RDF>
                                    </x:xmpmeta>





















                                    <?xpacket end="w"?></metadata>
                                <defs>
                                    <style>
                                        .cls-1 {
                                            fill: #333e48;
                                            fill-rule: evenodd;
                                        }
                                    </style>
                                </defs>
                                <path id="Marker_icon" data-name="Marker icon" class="cls-1" d="M981.758,14h0.517c3.123,0.258,5.521,2.812,4.478,6.348-0.808,2.737-2.927,4.869-4.721,6.652H982a19.1,19.1,0,0,1-3.046-3.463,8.613,8.613,0,0,1-1.949-4.556,4.63,4.63,0,0,1,1.371-3.493A5.217,5.217,0,0,1,981.758,14ZM978.042,17.7a4.993,4.993,0,0,0,.517,3.432,16.026,16.026,0,0,0,2.8,3.979,3.8,3.8,0,0,0,.67.7,4.372,4.372,0,0,0,.639-0.7,20.432,20.432,0,0,0,1.8-2.248,7.687,7.687,0,0,0,1.645-3.766,3.7,3.7,0,0,0-1.371-3.25,4.131,4.131,0,0,0-2.984-.972A4.065,4.065,0,0,0,978.042,17.7Zm3.685-1.063a2.377,2.377,0,0,1,2.193.912,2.316,2.316,0,0,1-.152,2.612c-1.222,1.41-3.935.714-4.051-1.245a3.017,3.017,0,0,1,.335-1.276A2.276,2.276,0,0,1,981.727,16.641Zm-1.1,2.157a1.387,1.387,0,0,0,2.771-.03,1.322,1.322,0,0,0-1.614-1.276A1.285,1.285,0,0,0,980.631,18.8Z" transform="translate(-977 -14)"/>
                            </svg>
                                Store Locator
                            </div></a></li>
                        <li class="header__info-list"><a href="#">
                            <div class="header__info-item"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="12" viewBox="0 0 18 12">
                                <metadata><?xpacket begin="﻿" id="W5M0MpCehiHzreSzNTczkc9d"?>
                                    <x:xmpmeta xmlns:x="adobe:ns:meta/" x:xmptk="Adobe XMP Core 5.6-c138 79.159824, 2016/09/14-01:09:01        ">
                                        <rdf:RDF xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
                                            <rdf:Description rdf:about=""/>
                                        </rdf:RDF>
                                    </x:xmpmeta>





















                                    <?xpacket end="w"?></metadata>
                                <defs>
                                    <style>
                                        .cls-1 {
                                            fill: #333e48;
                                            fill-rule: evenodd;
                                        }
                                    </style>
                                </defs>
                                <path id="Track_order_icon" data-name="Track order icon" class="cls-1" d="M1129.78,15v2.186h4.89c0.29,0.866.66,1.858,0.98,2.779a6.3,6.3,0,0,1,.3.917,15.219,15.219,0,0,1,0,2.24v2.24h-1.75a2.319,2.319,0,0,1-1.58,1.565,2.248,2.248,0,0,1-2.73-1.565h-4.67a2.5,2.5,0,0,1-.91,1.268,2.263,2.263,0,0,1-3.39-1.268h-1.78v-3.8h1.11v2.7a2.657,2.657,0,0,0,.61.027c0.15-.229.18-0.443,0.31-0.647a2.285,2.285,0,0,1,4.05.647h3.42c0.07-2.68.01-5.478,0.03-8.2H1118V15h11.78Zm0,3.345c0.02,1.97-.04,4.012.03,5.937a2.719,2.719,0,0,0,.33-0.62,2.2,2.2,0,0,1,.92-0.81,2.273,2.273,0,0,1,3.14,1.43h0.64c-0.12-1.152.16-2.189,0-3.238a9.938,9.938,0,0,0-.47-1.4c-0.17-.487-0.35-0.951-0.5-1.376h-4.06C1129.78,18.269,1129.78,18.307,1129.78,18.345ZM1122,25.226a1.137,1.137,0,0,0,2.11-.836,1.108,1.108,0,0,0-1.22-.648A1.078,1.078,0,0,0,1122,25.226Zm8.98,0a1.152,1.152,0,0,0,2.19-.432A1.127,1.127,0,1,0,1130.98,25.226Zm-12.37-8.041h5v1.079h-5.03A9.419,9.419,0,0,1,1118.61,17.185Zm3.89,2.186V20.45h-3.36a7.584,7.584,0,0,1,.03-1.079h3.33Z" transform="translate(-1118 -15)"/>
                            </svg>
                                Track Your Order
                            </div></a></li>
                        <li class="header__info-list">
                            <div class="header-changeMoney">
                                <select id="changeMoneyHeader">
                                    <option value="Dollar" data-content="&lt;i class=&quot;fa fa-usd&quot; aria-hidden=&quot;true&quot;&gt;&lt;/i&gt; Dollar"></option>
                                    <option value="Euro" data-content="&lt;i class=&quot;fa fa-eur&quot; aria-hidden=&quot;true&quot;&gt;&lt;/i&gt; Euro"></option>
                                </select>
                            </div>
                        </li>
                        <li class="header__info-list"><a href="#">
                            <div class="header__info-item"><svg xmlns="http://www.w3.org/2000/svg" width="12" height="13" viewBox="0 0 12 13">
                                <metadata><?xpacket begin="﻿" id="W5M0MpCehiHzreSzNTczkc9d"?>
                                    <x:xmpmeta xmlns:x="adobe:ns:meta/" x:xmptk="Adobe XMP Core 5.6-c138 79.159824, 2016/09/14-01:09:01        ">
                                        <rdf:RDF xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
                                            <rdf:Description rdf:about=""/>
                                        </rdf:RDF>
                                    </x:xmpmeta>





















                                    <?xpacket end="w"?></metadata>
                                <defs>
                                    <style>
                                        .cls-1 {
                                            fill: #384246;
                                            fill-rule: evenodd;
                                        }
                                    </style>
                                </defs>
                                <path id="User_icon" data-name="User icon" class="cls-1" d="M1430,27.919V28h-1.21a4.674,4.674,0,0,0-1.31-3.27,4.8,4.8,0,0,0-6.6-.3A4.486,4.486,0,0,0,1419.21,28H1418V27.946a5.873,5.873,0,0,1,3.64-5.352A4.152,4.152,0,0,1,1424.03,15a4.167,4.167,0,0,1,4.08,4.946,4.479,4.479,0,0,1-1.75,2.648A5.86,5.86,0,0,1,1430,27.919Zm-8.96-9.3a2.981,2.981,0,0,0,1.18,2.919,3.131,3.131,0,0,0,3.34.108,2.907,2.907,0,0,0,1.43-2.892,3.128,3.128,0,0,0-.83-1.676A3.033,3.033,0,0,0,1421.04,18.621Z" transform="translate(-1418 -15)"/>
                            </svg>
                                Register <span class="grey__letter">or</span> Sign in
                            </div></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="header__middle">
        <div class="container">
            <div class="row">
                <div class="header__middle-wrapper">
                    <div class="header__logo"><a href="#" class="header__logo-link"><svg version="1.1" x="0px" y="0px" width="175.748px" height="42.52px" viewBox="0 0 175.748 42.52" enable-background="new 0 0 175.748 42.52">
                        <ellipse class="ellipse-bg" fill-rule="evenodd" clip-rule="evenodd" fill="#FDD700" cx="170.05" cy="36.341" rx="5.32" ry="5.367"></ellipse>
                        <path fill-rule="evenodd" clip-rule="evenodd" fill="#333E48" d="M30.514,0.71c-0.034,0.003-0.066,0.008-0.056,0.056
	C30.263,0.995,29.876,1.181,29.79,1.5c-0.148,0.548,0,1.568,0,2.427v36.459c0.265,0.221,0.506,0.465,0.725,0.734h6.187
	c0.2-0.25,0.423-0.477,0.669-0.678V1.387C37.124,1.185,36.9,0.959,36.701,0.71H30.514z M117.517,12.731
	c-0.232-0.189-0.439-0.64-0.781-0.734c-0.754-0.209-2.039,0-3.121,0h-3.176V4.435c-0.232-0.189-0.439-0.639-0.781-0.733
	c-0.719-0.2-1.969,0-3.01,0h-3.01c-0.238,0.273-0.625,0.431-0.725,0.847c-0.203,0.852,0,2.399,0,3.725
	c0,1.393,0.045,2.748-0.055,3.725h-6.41c-0.184,0.237-0.629,0.434-0.725,0.791c-0.178,0.654,0,1.813,0,2.765v2.766
	c0.232,0.188,0.439,0.64,0.779,0.733c0.777,0.216,2.109,0,3.234,0c1.154,0,2.291-0.045,3.176,0.057v21.277
	c0.232,0.189,0.439,0.639,0.781,0.734c0.719,0.199,1.969,0,3.01,0h3.01c1.008-0.451,0.725-1.889,0.725-3.443
	c-0.002-6.164-0.047-12.867,0.055-18.625h6.299c0.182-0.236,0.627-0.434,0.725-0.79c0.176-0.653,0-1.813,0-2.765V12.731z
	 M135.851,18.262c0.201-0.746,0-2.029,0-3.104v-3.104c-0.287-0.245-0.434-0.637-0.781-0.733c-0.824-0.229-1.992-0.044-2.898,0
	c-2.158,0.104-4.506,0.675-5.74,1.411c-0.146-0.362-0.451-0.853-0.893-0.96c-0.693-0.169-1.859,0-2.842,0h-2.842
	c-0.258,0.319-0.625,0.42-0.725,0.79c-0.223,0.82,0,2.338,0,3.443c0,8.109-0.002,16.635,0,24.381
	c0.232,0.189,0.439,0.639,0.779,0.734c0.707,0.195,1.93,0,2.955,0h3.01c0.918-0.463,0.725-1.352,0.725-2.822V36.21
	c-0.002-3.902-0.242-9.117,0-12.473c0.297-4.142,3.836-4.877,8.527-4.686C135.312,18.816,135.757,18.606,135.851,18.262z
	 M14.796,11.376c-5.472,0.262-9.443,3.178-11.76,7.056c-2.435,4.075-2.789,10.62-0.501,15.126c2.043,4.023,5.91,7.115,10.701,7.9
	c6.051,0.992,10.992-1.219,14.324-3.838c-0.687-1.1-1.419-2.664-2.118-3.951c-0.398-0.734-0.652-1.486-1.616-1.467
	c-1.942,0.787-4.272,2.262-7.134,2.145c-3.791-0.154-6.659-1.842-7.524-4.91h19.452c0.146-2.793,0.22-5.338-0.279-7.563
	C26.961,15.728,22.503,11.008,14.796,11.376z M9,23.284c0.921-2.508,3.033-4.514,6.298-4.627c3.083-0.107,4.994,1.976,5.685,4.627
	C17.119,23.38,12.865,23.38,9,23.284z M52.418,11.376c-5.551,0.266-9.395,3.142-11.76,7.056
	c-2.476,4.097-2.829,10.493-0.557,15.069c1.997,4.021,5.895,7.156,10.646,7.957c6.068,1.023,11-1.227,14.379-3.781
	c-0.479-0.896-0.875-1.742-1.393-2.709c-0.312-0.582-1.024-2.234-1.561-2.539c-0.912-0.52-1.428,0.135-2.23,0.508
	c-0.564,0.262-1.223,0.523-1.672,0.676c-4.768,1.621-10.372,0.268-11.537-4.176h19.451c0.668-5.443-0.419-9.953-2.73-13.037
	C61.197,13.388,57.774,11.12,52.418,11.376z M46.622,23.343c0.708-2.553,3.161-4.578,6.242-4.686
	c3.08-0.107,5.08,1.953,5.686,4.686H46.622z M160.371,15.497c-2.455-2.453-6.143-4.291-10.869-4.064
	c-2.268,0.109-4.297,0.65-6.02,1.524c-1.719,0.873-3.092,1.957-4.234,3.217c-2.287,2.519-4.164,6.004-3.902,11.007
	c0.248,4.736,1.979,7.813,4.627,10.326c2.568,2.439,6.148,4.254,10.867,4.064c4.457-0.18,7.889-2.115,10.199-4.684
	c2.469-2.746,4.012-5.971,3.959-11.063C164.949,21.134,162.732,17.854,160.371,15.497z M149.558,33.952
	c-3.246-0.221-5.701-2.615-6.41-5.418c-0.174-0.689-0.26-1.25-0.4-2.166c-0.035-0.234,0.072-0.523-0.045-0.77
	c0.682-3.698,2.912-6.257,6.799-6.547c2.543-0.189,4.258,0.735,5.52,1.863c1.322,1.182,2.303,2.715,2.451,4.967
	C157.789,30.669,154.185,34.267,149.558,33.952z M88.812,29.55c-1.232,2.363-2.9,4.307-6.13,4.402
	c-4.729,0.141-8.038-3.16-8.025-7.563c0.004-1.412,0.324-2.65,0.947-3.726c1.197-2.061,3.507-3.688,6.633-3.612
	c3.222,0.079,4.966,1.708,6.632,3.668c1.328-1.059,2.529-1.948,3.9-2.99c0.416-0.315,1.076-0.688,1.227-1.072
	c0.404-1.031-0.365-1.502-0.891-2.088c-2.543-2.835-6.66-5.377-11.704-5.137c-6.02,0.288-10.218,3.697-12.484,7.846
	c-1.293,2.365-1.951,5.158-1.729,8.408c0.209,3.053,1.191,5.496,2.619,7.508c2.842,4.004,7.385,6.973,13.656,6.377
	c5.976-0.568,9.574-3.936,11.816-8.354c-0.141-0.271-0.221-0.604-0.336-0.902C92.929,31.364,90.843,30.485,88.812,29.55z"></path>
                    </svg></a></div>
                    <div class="header-search">
                        <form action="#" method="GET">
                            <div class="header-search__wrapper">
                                <div class="header-search__input">
                                    <input type="search" placeholder="Search for products">
                                </div>
                                <div class="header-search__select">
                                    <div class="header-search__selectButton">
                                        <select id="header-search">
                                            <option value="1">All Categories</option>
                                            <option value="2">Select 2</option>
                                            <option value="2">Select 3</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="header-search__button">
                                    <button><svg xmlns="http://www.w3.org/2000/svg" width="19" height="20" viewBox="0 0 19 20">
                                        <metadata><?xpacket begin="﻿" id="W5M0MpCehiHzreSzNTczkc9d"?>
                                            <x:xmpmeta xmlns:x="adobe:ns:meta/" x:xmptk="Adobe XMP Core 5.6-c138 79.159824, 2016/09/14-01:09:01        ">
                                                <rdf:RDF xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
                                                    <rdf:Description rdf:about=""/>
                                                </rdf:RDF>
                                            </x:xmpmeta>





















                                            <?xpacket end="w"?></metadata>
                                        <defs>
                                            <style>
                                                .cls-1 {
                                                    fill: #333e48;
                                                    fill-rule: evenodd;
                                                }
                                            </style>
                                        </defs>
                                        <path id="search_icon" data-name="search icon" class="cls-1" d="M1236.52,88.01a8.735,8.735,0,1,1-8.52,8.733A8.625,8.625,0,0,1,1236.52,88.01Zm0,1.027a7.708,7.708,0,1,1-7.52,7.705A7.616,7.616,0,0,1,1236.52,89.037Zm6.13,13.059,4.36,4.464-1.4,1.437-4.36-4.464Z" transform="translate(-1228 -88)"/>
                                    </svg>

                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <ul class="header__navbar">
                        <li class="header__navbar-link"><a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17">
                            <metadata><?xpacket begin="﻿" id="W5M0MpCehiHzreSzNTczkc9d"?>
                                <x:xmpmeta xmlns:x="adobe:ns:meta/" x:xmptk="Adobe XMP Core 5.6-c138 79.159824, 2016/09/14-01:09:01        ">
                                    <rdf:RDF xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
                                        <rdf:Description rdf:about=""/>
                                    </rdf:RDF>
                                </x:xmpmeta>





















                                <?xpacket end="w"?></metadata>
                            <defs>
                                <style>
                                    .cls-1 {
                                        fill: #333e48;
                                        fill-rule: evenodd;
                                    }
                                </style>
                            </defs>
                            <path id="Compare_icon" data-name="Compare icon" class="cls-1" d="M1336.39,92.286c-1.05,1.015-2.09,2.267-3.11,3.179V93.236c-2.26.11-4.63-.148-6.62,0a4.179,4.179,0,0,0-3.66,5.119,16.441,16.441,0,0,1-1.54,1.569,6.628,6.628,0,0,1,1.27-6.811,5.926,5.926,0,0,1,3.97-1.858c1.99-.118,4.22.087,6.54,0,0.09-.647.01-1.472,0.04-2.188-0.01-.074.04-0.084,0.04-0.041C1334.35,90.1,1335.42,91.141,1336.39,92.286ZM1325.76,103.8c-0.09.647-.02,1.473-0.04,2.188a0.484,0.484,0,0,1-.36-0.289c-0.86-.9-1.87-1.939-2.75-2.848,0.97-1.125,2.1-2.309,3.11-3.261v2.187c2.24-.031,4.66.186,6.58,0.042a4.15,4.15,0,0,0,3.78-4.376,3.368,3.368,0,0,1-.08-0.7,14.262,14.262,0,0,1,1.5-1.61c0.03-.008.03,0.016,0.03,0.041a6.561,6.561,0,0,1-1.26,6.771,5.929,5.929,0,0,1-3.97,1.857C1330.31,103.923,1328.08,103.717,1325.76,103.8Z" transform="translate(-1321 -89)"/>
                        </svg>
                        </a></li>
                        <li class="header__navbar-link"><a href="#"><?xml version="1.0" encoding="iso-8859-1"?>
                            <!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                            <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
                            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="979.494px" height="979.494px" viewBox="0 0 979.494 979.494" style="enable-background:new 0 0 979.494 979.494;"
	 xml:space="preserve">
<g>
	<g>
		<path d="M964.616,227.519c-15.63-44.595-43.082-84.824-79.389-116.338c-36.341-31.543-80.051-53.048-126.404-62.188
			c-17.464-3.444-35.421-5.19-53.371-5.19c-52.371,0-103.306,14.809-147.296,42.827c-26.482,16.867-49.745,38.022-68.908,62.484
			c-19.158-24.415-42.405-45.53-68.859-62.364C376.42,58.773,325.52,43.985,273.189,43.985c-0.003,0,0.001,0-0.001,0
			c-43.604,0-87.367,10.77-126.546,31.143c-39.15,20.358-73.104,49.978-98.188,85.658C22.752,197.343,7.096,238.278,1.92,282.453
			c-4.532,38.687-1.032,80.217,10.405,123.436c22.656,85.615,72.803,163.707,110.882,214.142
			c82.795,109.659,196.636,209.196,348.028,304.301l18.085,11.36l18.086-11.36C693.624,807.35,823.602,683.842,904.764,546.749
			c46.678-78.844,70.994-149.084,74.343-214.733C980.972,295.429,976.096,260.271,964.616,227.519z M489.322,855.248
			c-135.253-87.096-237.398-177.586-311.846-276.192c-34.407-45.571-79.583-115.623-99.414-190.562
			c-9.245-34.937-12.14-67.951-8.604-98.128c3.846-32.824,15.494-63.262,34.623-90.47c18.844-26.803,44.41-49.085,73.932-64.436
			c29.533-15.357,62.444-23.474,95.176-23.474c39.377,0,77.654,11.113,110.692,32.136c32.204,20.492,58.094,49.399,74.868,83.596
			l30.559,62.292l30.505-62.318c16.759-34.238,42.648-63.183,74.872-83.705c33.057-21.054,71.358-32.182,110.767-32.182
			c13.544,0,27.074,1.314,40.216,3.905c34.739,6.85,67.585,23.042,94.986,46.826c27.39,23.774,48.064,54.023,59.79,87.476
			c8.547,24.385,12.164,50.811,10.75,78.542c-2.772,54.379-24.017,114.42-64.944,183.553
			C773.338,635.262,656.457,747.659,489.322,855.248z"/>
	</g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
</svg>
                        </a></li>
                        <li class="header__navbar-link"><a href="#">
                            <div class="header__navbar-summary"><svg xmlns="http://www.w3.org/2000/svg" width="17" height="20" viewBox="0 0 17 20">
                                <metadata><?xpacket begin="﻿" id="W5M0MpCehiHzreSzNTczkc9d"?>
                                    <x:xmpmeta xmlns:x="adobe:ns:meta/" x:xmptk="Adobe XMP Core 5.6-c138 79.159824, 2016/09/14-01:09:01        ">
                                        <rdf:RDF xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
                                            <rdf:Description rdf:about=""/>
                                        </rdf:RDF>
                                    </x:xmpmeta>





















                                    <?xpacket end="w"?></metadata>
                                <defs>
                                    <style>
                                        .cls-1 {
                                            fill: #333e48;
                                            fill-rule: evenodd;
                                        }
                                    </style>
                                </defs>
                                <path id="Shopping_Cart_icon" data-name="Shopping Cart icon" class="cls-1" d="M1448.07,92h-3.3V91.166a4.23,4.23,0,0,0-8.46,0v4.166H1438V93.666h3.39V92H1438V91.166a2.54,2.54,0,0,1,5.08,0v4.166h1.69V93.666h1.78l0.76,11.667h-13.45l0.68-11.667h0.08V92h-1.61L1432,107h17Z" transform="translate(-1432 -87)"/>
                            </svg>

                                <div class="header__navbar-counter"><span>4</span></div>
                            </div>
                            <div class="header__navbar-quantity"><span class="header__navbar-quantity-dollar">$</span><span class="header__navbar-quantity-current">3 215.99</span></div></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="header__bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <ul class="header__menuList">
                        <li class="header__menuList-title toggle-menu-bar"><span><svg xmlns="http://www.w3.org/2000/svg" width="17" height="12" viewBox="0 0 17 12">
  <metadata><?xpacket begin="﻿" id="W5M0MpCehiHzreSzNTczkc9d"?>
      <x:xmpmeta xmlns:x="adobe:ns:meta/" x:xmptk="Adobe XMP Core 5.6-c138 79.159824, 2016/09/14-01:09:01        ">
   <rdf:RDF xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
      <rdf:Description rdf:about=""/>
   </rdf:RDF>
</x:xmpmeta>





















      <?xpacket end="w"?></metadata>
<defs>
    <style>
      .cls-1 {
          fill: #333e48;
          fill-rule: evenodd;
      }
    </style>
  </defs>
  <path id="category_list_icon" data-name="category list icon" class="cls-1" d="M0.008,10H2.02v2H0.008V10ZM3.969,0H17V2H3.969V0Zm0,5H17V7H3.969V5Zm0,5H17v2H3.969V10ZM0.008,5H2.02V7H0.008V5Zm0-5H2.02V2H0.008V0Z"/>
</svg>
All Departments</span></li>
                        <li class="header__menuList-item"><a href="#" class="header__menuList-link bold-link">Value of the Day</a></li>
                        <li class="header__menuList-item"><a href="#" class="header__menuList-link bold-link">Top 100 Offers</a></li>
                        <li class="header__menuList-item"><a href="#" class="header__menuList-link bold-link">New Arrivals</a></li>
                        <li class="header__menuList-item header__menuList-underList"><a href="#" class="header__menuList-link">Laptops & Computers</a>
                            <ul class="header-dropmenu">
                                <li></li>
                            </ul>
                        </li>
                        <li class="header__menuList-item header__menuList-underList"><a href="#" class="header__menuList-link">Cameras & Photography</a></li>
                        <li class="header__menuList-item header__menuList-underList"><a href="#" class="header__menuList-link">Smart Phones & Tablets</a></li>
                        <li class="header__menuList-item header__menuList-underList"><a href="#" class="header__menuList-link">Video Games & Consoles</a></li>
                        <li class="header__menuList-item header__menuList-underList"><a href="#" class="header__menuList-link">TV & Audio</a></li>
                    </ul>
                </div>
                <div class="col-lg-9">
                    <nav class="header__nav">
                        <ul class="header__nav-wrapper">
                            <li class="header__nav-item"><a href="#" class="header__nav-link_active">SuperDeals</a></li>
                            <li class="header__nav-item"><a href="#" class="header__nav-link">Featured Brands</a></li>
                            <li class="header__nav-item"><a href="#" class="header__nav-link">Trending Styles</a></li>
                            <li class="header__nav-item"><a href="#" class="header__nav-link">Gift Cards</a></li>
                            <li class="header__nav-item"><a href="#" class="header__nav-link">Blog</a></li>
                        </ul><a href="#" class="header-special-link">Free Shipping on Orders $50+</a>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>